@use "../../styles/Variables.scss" as *;

.section{
    &__iconContaier{
        display: flex;
    }
    
    &__contactIcon{
        font-size: 2em;
        padding: 10px;
        color: $primaryColor;
    }
    &__contactIcon:hover{
        color: $secondaryColor;
        background-color: $primaryColor;
    }
}